[Unit]
Description=Backup Palworld Dedicated Server to QNAP NAS
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/srv/palworld/scripts/backup-palworld.sh
TimeoutStartSec=30min
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
